<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="svc">
          <security mode="Message" />
        </binding>
        <binding name="ServerEntryPoint">
          <security mode="Message">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8010/Serveur/Service"
        binding="netTcpBinding" bindingConfiguration="ServerEntryPoint"
        contract="WCFMiddleware.IServerEntryPoint" name="ServerEntryPoint">
        <identity>
          <userPrincipalName value="ROBIN\Robin" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
